<!-- Sponsors Controller, Index Action -->


<div class='container-float'>
	<div class='field'>

		<h2> Sign up </h2>

		<%= form_for(@user) do |f| %>
		
			<%= f.text_field :first_name, :placeholder => "First name" %>
			<%= f.text_field :last_name, :placeholder => "Last name" %>
			<%= f.text_field :email, :placeholder => "Email" %>
			<%= f.password_field :password, :placeholder => "Password" %>
			<%= f.submit "Create an Account", class: "btn-submit"%>
		
		<% end %>
	</div>
</div>